<footer class="site-footer">
  <div class="wrapper">

    <div class="site-navigation">
      <p class="footer-heading">{{ site.title }}</p>
      <ul class="pages">
        {% include nav_links.html %}
      </ul>
    </div>

    <div class="site-contact">
      <p class="footer-heading">Contact</p>
      <ul class="social-media-list">
        {% if site.email and site.email != "" %}
        <li>
          <a href="mailto:{{ site.email }}"><span class="username">{{ site.email }}</span></a>
        </li>
        {% endif %}
        {% for social in site.social %}
          {% if social.url != "" %}
          <li>
            <a href="{{ social.url }}" title="{{ social.desc }}">
              <span class="username">{% if social.username %}{{ social.username }}{% else %}{{ social.name }}{% endif %}</span>
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="site-signature">
      <p class="footer-heading">About</p>
      <p class="text">{{ site.description }}</p>
    </div>

  </div>
</footer>
